@model InventorySolution.Models.InventarModel
@{
    ViewBag.Title = string.Format("Inventar #{0}", Model.Inventar.InventarId);
}
@*afisare detalii inventar*@
<div class ="panel-body">
    <div class="row">
        @*panou stanga*@
        <div class="col-lg-6 col-md-6">
            @Html.DisplayFor(m => m.Inventar, "InventarDisplay")
        </div>

        @*panou dreapta*@
        <div class="col-lg-6 col-md-6">
            @Html.DisplayFor(m => m.Calculator, "CalculatorDisplay")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="@Url.Action("Create", "Casari", new {id = Model.Inventar.InventarId})" class="btn btn-danger">
                Catre casare
            </a>
        </div>
    </div>
</div>