@{
    ViewBag.Title = "About Us";
}

@section JS
{
    <script type="text/javascript">
        $(function() {

            //defaults
            $.fn.editable.defaults.url = '/post';

            //editables 
            $('#username').editable({
                url: '/home/about',
                type: 'text',
                pk: 1,
                name: 'username',
                title: 'Enter username'
            });

            $('#address').editable({
                url: '/post',
                value: {
                    city: "Moscow",
                    street: "Lenina",
                    building: "12"
                },
                validate: function(value) {
                    if (!value || value.city == '') return 'city is required!';
                },
                display: function(value) {
                    if (!value) {
                        $(this).empty();
                        return;
                    }
                    var html = '<b>' + $('<div>').text(value.city).html() + '</b>, ' + $('<div>').text(value.street).html() + ' st., bld. ' + $('<div>').text(value.building).html();
                    $(this).html(html);
                }
            });
        });
    </script>
}
<div>
    <a href="#" id="username" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click" style="display: inline;">superuser</a>
    <a href="#" id="address" data-type="address" data-pk="1" data-title="Please, fill address" class="editable editable-click" data-original-title="" title=""></a>
</div>